/* Сбрасываем все отступы и границы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем списочные маркеры */
ul, ol {
  list-style: none;
}

/* Убираем подчёркивания у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Убираем стандартный фон и шрифты */
body {

  background: none;
  font-family: inherit;
  line-height: 1;
}

.todo_item {
  background: aliceblue;
  width: 200px;
  padding: 10px;

/* Сбрасываем стили кнопок и инпутов */
/*button, input, textarea, select {*/
/*  font: inherit;*/
/*  background: none;*/
/*  border: none;*/
/*  outline: none;*/
/*  color: inherit;*/
/*}*/

button {
  background: #39a8d7d1;
  border-radius: 4px;
  padding: 6px 10px;
  font-family: sans-serif;
}
